<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="speedometer-outline"></ion-icon>
      <ion-label>DASHBOARD</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="projects">
      <ion-icon name="beer-outline"></ion-icon>
      <ion-label>PROJECTS</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="employees">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>EMPLOYEES</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="payments">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>PAYMENTS</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>


