<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button slot="start" size="small" href="/tabs/projects"><ion-icon name="return-up-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Create Project</ion-title>
  </ion-toolbar>


    
  <ion-content [fullscreen]="true">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          <img src="./assets/icon/logo.png" alt="planzone" style="width: 12rem;" />
        </ion-title>
      </ion-toolbar>
    </ion-header>
    
    <ion-row [style.background]="backgroundVar" [style.color]="colorVar">
      <ion-col [style.background]="backgroundVar" [style.color]="colorVar">
          
  <form [formGroup]="createProjectGroup" (ngSubmit)="logForm()">
    <ion-item>
      <ion-label>Project Name</ion-label>
      <ion-input type="text" formControlName="projectName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Project Code</ion-label>
      <ion-input type="text" formControlName="projectCode"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Project State</ion-label>
      <ion-select placeholder="Select One" formControlName="projectStatus">
        <ion-select-option value="logo">New</ion-select-option>
        <ion-select-option value="maskot">Redo</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Project Type</ion-label>
      <ion-select placeholder="Select One" formControlName="projectType">
        <ion-select-option value="logo">Logo</ion-select-option>
        <ion-select-option value="maskot">Maskot</ion-select-option>
        <ion-select-option value="website">Website Design</ion-select-option>
        <ion-select-option value="business card">Business Card</ion-select-option>
        <ion-select-option value="others">Others</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime displayFormat="YYYY/MM/DD" value="2020-07-15" display-timezone="utc" formControlName="projectDate"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Total Amount <strong>USD</strong></ion-label>
      <ion-input type="number" formControlName="projectTotalAmount"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Paid <strong>USD</strong></ion-label>
      <ion-input type="number" formControlName="projectTotalPaid"></ion-input>
    </ion-item>

    
    <ion-item>
      <ion-label>Designer`s Name</ion-label>
      <ion-select placeholder="Select One" formControlName="designerName">
        <div *ngFor="let d of designers">
          <ion-select-option [value]="d.designer">{{d.designer}}</ion-select-option>
        </div>
      </ion-select>
    </ion-item> 
    <ion-item>
      <ion-label>Paid to designer</ion-label>
      <ion-input type="number" formControlName="paidToDesigner"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Description</ion-label>
      <ion-input type="text" formControlName="projectDescription"></ion-input>
    </ion-item>
    <ion-item>
      <ion-button type="submit" size="medium" [disabled]="!createProjectGroup.valid" color="primary">Submit</ion-button>
      <ion-button type="button" size="medium" href="../" color="secondary">Cancel</ion-button>
    </ion-item>
    
  </form>
      </ion-col>
    </ion-row>
  </ion-content>
    
    
 

