<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Employee
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-button fill="outline" slot="end" size="small" (click)="showEmployeeForm()"><ion-icon name="add-outline"></ion-icon> Create Employee</ion-button>
    </ion-item>


<div class="p3" *ngIf="flagEmployeeList">
    <h4>Lists of Registered employees</h4>
    
    <div *ngFor="let de of designers" class="p1">
      <ion-item-sliding>
        <ion-item>
          <ion-label>
            <h3>{{de.designer}}</h3>            
            <ion-toolbar>
              <p>TOTAL AMOUNT: <span>{{de.total_amount}}</span></p>
              <p>PENDING AMOUNT: <span>{{de.total_amount}} - {{de.total_paid}}</span></p>
              <ion-button slot="end" (click)="deleteEmployee(de)"><ion-icon name="trash-outline"></ion-icon></ion-button>
            </ion-toolbar>
          </ion-label>
        </ion-item>
      </ion-item-sliding>      
    </div> 
</div>


<div class="p3" *ngIf="flagEmploeeForm">
  <h4>New Employee Registration</h4>
  <form [formGroup]="employe" (ngSubmit)="addEmpForm()">
    <ion-item>
      <ion-label>Employee Name</ion-label>
      <ion-input type="text" formControlName="employeeName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Employee Code</ion-label>
      <ion-input type="text" formControlName="employeeCode"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Reward Point</ion-label>
      <ion-input type="number" formControlName="rewardPoint"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Date of registration</ion-label>
      <ion-datetime displayFormat="YYYY/MM/DD" value="2020-05-10" display-timezone="utc" formControlName="employeeDate"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Earned <strong>Rupees</strong></ion-label>
      <ion-input type="number" formControlName="earned"></ion-input>
    </ion-item>  
    <ion-item>
      <ion-button type="submit" size="medium" [disabled]="!employe.valid" color="primary">Submit</ion-button>
      <ion-button type="button" size="medium" (click)="employeeFormCancel()" color="secondary">Cancel</ion-button>
    </ion-item> 
    
  </form>
  
</div>     
</ion-content>  
 
  
