<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        <img src="./assets/icon/logo.png" alt="planzone" style="width: 12rem;" />
        <ion-button style="float:right" (click)="logOut()" end>Logout</ion-button> 
      </ion-title>
      <ion-buttons end> </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title><span style="color:#ccc">Welcome to</span></ion-card-title>
      <ion-card-subtitle color="dark" style="text-transform: uppercase;display: inline;">{{clientSign}}</ion-card-subtitle>      
    </ion-card-header>
  </ion-card>
  <ion-card [style.background]="backgroundVar" [style.color]="colorVar">
    <ion-card-header>
      <ion-card-subtitle>Number of Projects</ion-card-subtitle>
      <ion-card-title [style.color]="colorVar">{{numberOfProjects}}</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card [style.background]="backgroundVar" [style.color]="colorVar">
    <ion-card-header>
      <ion-card-subtitle>Number of Employees</ion-card-subtitle>
      <ion-card-title [style.color]="colorVar">{{numberOfDesigner}}</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card [style.background]="backgroundVar" [style.color]="colorVar">
    <ion-card-header>
      <ion-card-subtitle>Total Project Amount</ion-card-subtitle>
      <ion-card-title [style.color]="colorVar">$ {{totalAmount}}</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card [style.background]="backgroundVar" [style.color]="colorVar">
    <ion-card-header>
      <ion-card-subtitle>Total Profit</ion-card-subtitle>
      <ion-card-title [style.color]="colorVar">$ {{totalProfit}}</ion-card-title>
    </ion-card-header>
  </ion-card >
  <!-- <app-explore-container name="news page"></app-explore-container> -->
</ion-content>
