/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

$size1: 0.5rem; 
.p1 {
    padding: 1*$size1;
}
.p2 {
    padding: 2*$size1;
}
.p3 {
    padding: 3*$size1;
}
.p4 {
    padding: 4*$size1;
}
.custocard {
    background: #f2f2f2;
    border: 1px solid #fff;
}
p {
    font-size: 3*$size1;
}

.top-right-ind {
    position: fixed;
    top: -11px;
    right: 1px;
    z-index: 2;
    text-align: right;
}

.blink {
    animation: blinkingText 1.2s infinite;
    -ms-animation: blinkingText 1.2s infinite;
    -webkit-animation: blinkingText 1.2s infinite;
}

@keyframes blinkingText{
    0%{     opacity: 0; }
    49%{    opacity: 0; }
    60%{    opacity: 1; }
    99%{    opacity: 0; }
    100%{   opacity: 0; }
}


